
@font-face {
    font-family: Dosis;
    src: local("./Dosis/Dosis-VariableFont_wght.ttf") format(truetype);
    font-size: medium;
    font-weight: 200;
    font-style: normal;
} 

h1{
  font-style: Dosis; 
}
